<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miao.test.mapper.PlanDetailMapper" >
  <resultMap id="BaseResultMap" type="com.miao.test.bean.PlanDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="drone_id" property="droneId" jdbcType="INTEGER" />
    <result column="rasp_id" property="raspId" jdbcType="INTEGER" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,drone_id,rasp_id,sort_num,plan_id
  </sql>
  
  <insert id="insertPlanDetail">
  	INSERT INTO plan_detail (drone_id,rasp_id,sort_num,plan_id) 
  	VALUES (#{droneId},#{raspId},#{sortNum},#{planId})
  </insert>
  
  <delete id="deletePlanDetail" parameterType="java.lang.Integer">
  	DELETE FROM plan_detail WHERE id = #{id}
  </delete>
  
  <select id="getPlanDetails" resultType="com.miao.test.bean.PlanDetail">
  	SELECT * FROM plan_detail WHERE plan_id = #{planId}
  </select>
  
  <select id="getById" resultType="com.miao.test.bean.PlanDetail">
  	SELECT * FROM plan_detail WHERE id = #{id}
  </select>
  
  <delete id="deletePlanDetailByPlanId">
  	DELETE FORM plan_detail WHERE plan_id = #{planId}
  </delete>
</mapper>